.zoo {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.animal {
    background-color: gray;
    border-radius: 20px;
    width: 400px;
    height: auto;
}
p {
    font-size: 20px;
}
.description {
    font-size: 15px;
    color: white;
    margin-top: 35px;
}
img {
    height: 200px;
    border-radius: 20px;
}
button {
    width: 130px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 20px;
}
.img-container {
     display: flex;
    justify-content: center;
    align-items: center; 
    
}
@media screen and (max-width: 480px) {
    .zoo {
        display: grid;
        grid-template-columns: auto;
    }
}